/* 
    Author:         Derrick Vuong
    Company:        Salesforce
    Description:    PartnerTierCurrentLevel.css
    Date:           2-Nov-2018 
*/
.THIS  .slds-notify {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    max-width: 800px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1rem;
}

.THIS .level-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.THIS .level-info-container {
    flex-grow: 0.5;
    display: flex;
    flex-direction: row;
}

.THIS .level-info-item p {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .level-icon {
    max-width: 150px;
    max-height: 150px;
}


.THIS .icon svg {
    fill: black;
}

@media screen and (min-width: 655px) {
    .THIS .level-content {
        flex-direction: row;
    }
}
@media screen and (max-width: 654px) {
    .THIS .level-content{
        flex-direction: column;
        align-items: center;
    }
    .THIS .full-width {
        width: 100%;
    }
    .THIS.slds-box {
        padding: 1.5rem;
    }
}

.THIS .level-info-container {
    justify-content: space-around;
    flex-grow: 2;
}
.THIS .level-icon,
.THIS .level-benefit {
    flex-grow: 1;
}